// iconfont相关

@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}

.icon {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  //-webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-addition:before { content: "\e650"; }
.icon-myrecommendation:before { content: "\e64f"; }
.icon-arrowdownsmall:before { content: "\e652"; }
.icon-arrowdownlarge:before { content: "\e651"; }
.icon-back:before { content: "\e655"; }
.icon-arrowupsmall:before { content: "\e654"; }
.icon-arrowright:before { content: "\e653"; }
.icon-bed:before { content: "\e656"; }
.icon-cart:before { content: "\e658"; }
.icon-cartempty:before { content: "\e657"; }
.icon-change:before { content: "\e65a"; }
.icon-center:before { content: "\e659"; }
.icon-coupon:before { content: "\e65c"; }
.icon-collection:before { content: "\e65b"; }
.icon-delete:before { content: "\e65d"; }
.icon-car:before { content: "\e65e"; }
.icon-diningtable:before { content: "\e65f"; }
.icon-error:before { content: "\e660"; }
.icon-fix:before { content: "\e661"; }
.icon-good:before { content: "\e663"; }
.icon-furnishings:before { content: "\e662"; }
.icon-home:before { content: "\e665"; }
.icon-help:before { content: "\e664"; }
.icon-likeoutline:before { content: "\e667"; }
.icon-integration:before { content: "\e666"; }
.icon-loadinglogo:before { content: "\e669"; }
.icon-like:before { content: "\e668"; }
.icon-logotext01:before { content: "\e66a"; }
.icon-menulist:before { content: "\e66c"; }
.icon-mark:before { content: "\e66b"; }
.icon-message:before { content: "\e66e"; }
.icon-menu:before { content: "\e66d"; }
.icon-more:before { content: "\e66f"; }
.icon-searchsmall:before { content: "\e670"; }
.icon-select:before { content: "\e672"; }
.icon-search:before { content: "\e671"; }
.icon-sign:before { content: "\e674"; }
.icon-signout:before { content: "\e673"; }
.icon-soho:before { content: "\e676"; }
.icon-sofa:before { content: "\e675"; }
.icon-starempty:before { content: "\e677"; }
.icon-subtraction:before { content: "\e679"; }
.icon-star:before { content: "\e678"; }
.icon-wallet:before { content: "\e67a"; }
.icon-weixin:before { content: "\e67b"; }
.icon-weibo:before { content: "\e67c"; }
.icon-book:before { content: "\e67e"; }
.icon-alarm:before { content: "\e67f"; }
.icon-vip:before { content: "\e681"; }
.icon-service:before { content: "\e682"; }
