/***
* address
* Author: Remiel.
***/
.cart-checkout-address
    .address-list
        padding: 30 *$px 15 *$px
    .address-item
        line-height: 18 *$px
        margin-bottom: 15 *$px
        &.active
            color: $color_gold

.checkout-address-bar
    padding: 0 15 *$px

.address-list-profile
    .address-item-box
        background: #fff
        padding: 15 *$px 15 *$px 0
        &:first-child
            padding-top: 30 *$px
    footer
        text-align: right
        padding-bottom: 15 *$px

.address-item-btn
    margin: 1em
