/***
* cart-bar
* Author: Remiel.
***/
.cart-bar
    padding 20*$px 16*$px
    position: relative
    line-height: 14 *$px

    .checkbox
        margin-right: 30 *$px
        color: $color_gray_summary

.cart-total
    position: absolute
    right: 100 *$px
    top: 7 *$px
    text-align: right

    > :first-child
        color: $color_blackred
        font-size: 14 *$px
        line-height: 22 *$px
    > :last-child
        color: $color_gray_summary

.cart-quantity
    color: $color_black_title

.cart-btn
    position: absolute
    right: 16 *$px
    top: 7 *$px
