/***
* checkout
* Author: Remiel.
***/
.checkout-main
    .icon
        font-size: 24 *$px
        position: absolute
        right: 0
        top: 0
        bottom: 0
        width: 1em
        height: 1em
        margin: auto
        padding: 0

.checkout-address

    .form-box-bd
        line-height: 18 *$px
        > div
            padding-right: 50 *$px

.checkout-date
    .form-box-bd
        display: flex
        > div
            flex: 1
            padding: 4 *$px 0
            &:first-child
                padding-right: 8 *$px
            &:last-child
                padding-left: 8 *$px

.checkout-note
    display: block
/*totle*/
.checkout-total
    tr td
        vertical-align: top
        &:nth-child(2)
            text-align: right
            color: $color_icon

        &:nth-child(3)
            text-align: right
            width: 100 *$px
/*bar*/
// .checkout-bar
//     padding 20*$px 16*$px
//     position: relative
//     height: 16 *$px
.checkout-bar-total
    padding: 0 15 *$px

.checkout-btn
    position: absolute
    right: 16 *$px
    top: 7 *$px

/*point*/
.checkout-point
    .checkbox-switch
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
.checkout-point-text
    margin-right: 70 *$px
