.date-picker
    .icon-arrowright
        font-size: 24 *$px
        position: absolute
        right: 0
        top: 0
        bottom: 0
        width: 2em
        height: 2em
        line-height: 2em
        text-align: center
        margin: auto
        padding: 0

        &.u-fl
            right: auto
            left: 0
            transform: rotate3d(0, 1, 0, 180deg)