/***
* Empty
* Author: Remiel.
***/
.empty
    position: absolute
    top: 50%
    left: 0
    right: 0
    text-align: center
    transform: translate(0,-50%)
    .icon
        font-size: 50 *$px
        color: $color_gray_border
        margin-bottom: 20 *$px

.horizontal
    .empty
        padding-top: 10 *$px
        position: relative
        top: auto
        left: auto
        right: auto
        transform: translate(0, 0)