.filter-item
    height len(35)
    line-height len(35)
    border-right 1px solid $color_gray_border
    border-bottom 1px solid $color_gray_border
    text-align center
    fontsize(12)
    background #fff

    &-drop-down
        .btn-icon
            fontsize: 18*$px
    &:nth-child(2n)
        border-right 0

.Tappable-active
    color: $color_gold_hover

    .btn-icon
        color: $color_gold_hover
