/***
* invoice
* Author: Remiel.
***/
.is-for-invoice-modal
    display: block
.invoice-modal-hd
    line-height: 48 *$px
    .active
        background: $color_gray_border
.invoice-modal-bd
    border-bottom: 1px solid $color_gray_border
    .form input[type="text"]
        padding: 12 *$px 0
        font-size: 14 *$px
    .form-box-hd
        line-height: 17 *$px

.invoice-item
    .form-box-bd
        padding: 15 *$px 0
// .invoice-bar
//     padding: 6 *$px
