/*label 样式*/
.label-list{
    min-height: 40*$px;
    line-height: 40*$px;
    &:after{
        display: block;
        content: " ";
        clear: both;
    }
}
.label-title{
     color: $color_gray_label;
}
