.content-block {
    margin: 20*$px 0;
    padding-left:15*$px;
}
.content-block-inner {
    padding-right:15*$px;
}
.box-item {
    background: #fff;
    border-top:1px solid $color_gray_border;
    border-bottom:1px solid $color_gray_border;
    margin: 0;
}
.border-gay-dotted {
    border-bottom:1px dotted $color_gray_border;
}
