/***
* share
* Author: Remiel.
***/
.share-weixin
    margin-top 10*$px
    padding: 10*$px 20*$px
    line-height: 24*$px
    h4
        margin-bottom: 10
    p
        color: $color_gray_label
        
    .form input[type="text"]
        border: 1px solid $color_gray_border
