.suggestion
    absolute()
    left 0
    right 0
    z-index 3
    max-height len(275)
    background #fff
    overflow-y auto
    
    li
        padding len(0 20)
        height len(55)
        line-height len(55)
        border-top 1px solid $color_gray_border
        fontsize(14)
        
        &:first-child
            border-top 0
    .high-light
        color $color_gold_hover

.is-for-suggestion
    top len(55)
    