.icon-link {
  height: 100%;
  width: 100%;
  position:relative;
}

.icon-link i.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  position: relative;
  font-size: 30*$px;
}

.icon-link span.tabbar-label {
  line-height: 1;
  display: block;
  margin: 0;
  letter-spacing: 0.01em;
  font-size: 12*$px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-link-badge {
    position: absolute;
    right: -10*$px;
    top:-10*$px;
    z-index:10;
}
.order-menu-list {
    background: #fff;
    border-bottom: 1px solid $color_gray_border;
    margin-bottom: 10*$px;
    padding: 15*$px 0;
}
