/***
* Textarea
* Author: Remiel.
***/

textarea
    border: 1px solid $color_gray_border
    padding: 12 *$px  8 *$px
    color: $color_gray_summary
    display: block
    width: 100%
    font-size: 14 *$px
    box-shadow: none
    -webkit-appearance: none
    outline: 0 none
    border-radius: 0

    &:focus
        border-color: $color_gold_hover

    &::-webkit-input-placeholder
        color: $color_gray_summary