/* 盒模型相关的工具类，margin, padding, box-shadow, border等 */

// 元素显示方式工具类
.u-inline-block{
    display:inline-block;
}
.u-block{
    display:block;
}
.u-none {
    display: none;
}
.u-hidden {
    visibility: hidden;
}
.u-op-0 {
    opacity: 0
}

// 元素定位工具
.u-pr {
    position: relative;
}
.u-pa {
    position: absolute;
}
.u-pf {
    position: fixed;
}

.u-fl {
    float: left;
    display: inline;
}
.u-fr {
    float: right;
    display: inline;
}
.u-clear{
    clear:both;
}
// 清除浮动
.u-clearfix {
    clearfix()
}

// 元素居中
.u-block-center {
    display: block
    margin-left: auto
    margin-right: auto
}
.u-ma {
    margin-left: auto;
    margin-right: auto;
}

// 边距工具类
.u-mt-60{
    margin-top:60*$px;
}
.u-mb-60{
    margin-bottom:60*$px;
}
.u-mr-60{
    margin-right:60*$px;
}
.u-ml-60{
    margin-left:60*$px;
}

.u-mt-50{
    margin-top:50*$px;
}
.u-mb-50{
    margin-bottom:50*$px;
}
.u-mr-50{
    margin-right:50*$px;
}
.u-ml-50{
    margin-left:50*$px;
}

.u-mt-30{
    margin-top:30*$px;
}
.u-mb-30{
    margin-bottom:30*$px;
}
.u-mr-30{
    margin-right:30*$px;
}
.u-ml-30{
    margin-left:30*$px;
}


.u-mt-20{
    margin-top:20*$px;
}
.u-mb-20{
    margin-bottom:20*$px;
}
.u-mr-20{
    margin-right:20*$px;
}
.u-ml-20{
    margin-left:20*$px;
}

.u-mt-15{
    margin-top:15*$px;
}
.u-mb-15{
    margin-bottom:15*$px;
}
.u-mr-15{
    margin-right:15*$px;
}
.u-ml-15{
    margin-left:15*$px;
}

.u-mt-10{
    margin-top:10*$px;
}
.u-mb-10{
    margin-bottom:10*$px;
}
.u-mr-10{
    margin-right:10*$px;
}
.u-ml-10{
    margin-left:10*$px;
}

.u-mt-5{
    margin-top:5*$px;
}
.u-mb-5{
    margin-bottom:5*$px;
}
.u-mr-5{
    margin-right:5*$px;
}
.u-ml-5{
    margin-left:5*$px;
}

.u-pt-30{
    padding-top:30*$px;
}
.u-pb-30{
    padding-bottom:30*$px;
}
.u-pr-30{
    padding-right:30*$px;
}
.u-pl-30{
    padding-left:30*$px;
}

.u-pt-20{
    padding-top:20*$px;
}
.u-pb-20{
    padding-bottom:20*$px;
}
.u-pr-20{
    padding-right:20*$px;
}
.u-pl-20{
    padding-left:20*$px;
}

.u-pt-15{
    padding-top:15*$px;
}
.u-pb-15{
    padding-bottom:15*$px;
}
.u-pr-15{
    padding-right:15*$px;
}
.u-pl-15{
    padding-left:15*$px;
}

.u-pt-10{
    padding-top:10*$px;
}
.u-pb-10{
    padding-bottom:10*$px;
}
.u-pr-10{
    padding-right:10*$px;
}
.u-pl-10{
    padding-left:10*$px;
}

.u-pt-5{
    padding-top:5*$px;
}
.u-pb-5{
    padding-bottom:5*$px;
}
.u-pr-5{
    padding-right:5*$px;
}
.u-pl-5{
    padding-left:5*$px;
}

.u-mr-40{
    margin-right:40*$px;
}
.u-mb-40{
    margin-bottom:40*$px;
}
.u-mr-60{
    margin-right:60*$px;
}

/*flex box*/
.u-flex-box
    display: flex
for i in (1..6)
    .u-flex-item-{i}
        flex: i

/* w,h */
.u-w-100
    width: 100%
.u-max-w-100
    max-width: 100%
.u-h-100
    height: 100%
.u-max-h-100
    max-height: 100%
