
.remind-btn
    position absolute
    bottom 0px
    right 0px
    width 220px
    height 100px
.coupon-link-content
    display block
    width 100%
    height 100%
    position absolute
    top 0px
    .coupon-link
        box-sizing border-box
        float left
        width 50%
        height 33%


.activity-november
    height 80px
    position relative
    .activity-shape-icon
        position absolute
        left 9px
        top 26px

    .activity-title
        position absolute
        left 55px
        top 18px

    .grey
        color #6047c9
    .red
        color #cc2a1e
    .green
        color #44a3e0
    .activity-rule-btn
        position absolute
        right 10px
        top 21px
        width 63px
        height 35px
        text-align center
        line-height 35px
        border-radius 8px
        background #6047c9
        color #fff

.footer-img
    float left
    width 50%

.remind-content
    p
        font-size 12px
        margin-bottom 8px
    input
        padding 6px

.share-btn
    position fixed
    right 0px
    top 57%
    width 50px
    height 30px
    line-height 30px
    background rgba(0, 0, 0, 0.42)
    color #fff
    border-radius 12px 0 0 12px
    text-align center
    font-size 14px


.activity-nav
    width 100%
    height 54px
    background #e03350
    display none
    position absolute
    top 0px
    left 0px
    z-index 1000
    &.active
        display block
    .activity-link
        float left
        width 20%
        box-sizing border-box
        text-align center
        height 100%
        line-height 50px
        color #fff
        font-weight bold
        font-size 14px
        &.active
            color #fff100
            border-bottom 3px solid #fff100


.title-img-section
    position relative
    .seckill-link
        position absolute
        top 45%
        left 56%
        width 38%
        height 27%
        z-index 3
.seckill-section
    width 100%
    background #ef7848
.seckill-goods-content
    .nav-section
        width 100%
        padding-bottom 7px
        background #f8b79e
        .nav-ul
            &:after
                display block
                content ''
                clear both
            li
                float left
                width 35px
                height 35px
                border-radius 100%
                color #fff
                font-weight bold
                font-size 14px
                margin 8px 0 0 15px
                background #dc9a81
                text-align center
                line-height 35px
                &.day_active
                    background #cf1f1c
    .goods-list
        background-color #fff
        border-bottom 1px solid #f8b79e
        padding 15px 0
        &:after
            display block
            content ''
            clear both
        .dec-content
            float left
            width 50%
            box-sizing border-box
            text-align center
            img
                margin-top 20px
            .dec-warning
                color #cf1f1c
                font-size 16px
                font-weight bold
                margin-bottom 10px
                &.coming
                    color #9d6050
                &.end
                    color #3a3a3a
            .dec-title
                color black
                font-size 16px
                font-weight bold
            .dec-price
                color #7d7d7d
                font-size 16px
                font-weight bold
            .other-shape
                width 100%
                height 14px
                background #fff
                position relative
                z-index 3
            .shape-warn
                width 83px
                height 87px
                border-radius 100%
                background #cf1f1c
                text-align center
                margin -12px auto 0
                &.coming-price
                    background #9d6050
                &.end-price
                    background #3a3a3a
                p
                    color #fff
                    font-size 16px
                    font-weight bold
                    position relative
                    top 21px
                    &._this-price
                        color #fff100

            .dec-btn
                width 120px
                height 35px
                margin 10px auto 0
                text-align center
                color #fff
                font-size 14px
                font-weight bold
                line-height 35px
                border-radius 22px
                background #cf1f1c
                &.now-btn
                    background #9d6050
                &.end-btn
                    background #3a3a3a

.bg-insane, .full-cut-section
    position relative
    .content
        width 100%
    .section
        &:after
            display block
            content ''
            clear both
    .list
        float left
        width 50%
        padding 3%
        .img-content
            background #fff
            padding 10px
            text-align center
        .section-dec
            border-top 1px solid #F3D9D9
            width 100%
            background #fff
            position relative
            padding 10px 0
            .dec-title
                text-align center
                p
                    margin-bottom 3px
            .dec-price
                width 78%
                margin 0 auto
                height 25px
                text-align center
                line-height 25px
                color #fff6de
                border-radius 12px
                background #ef2976
                &.full-cut
                    background #fff100
                    color #ef2976
                    font-weight bold
                &.full-coupon
                    background #cc2a1e
                    font-weight bold

.see-more
    width 94%
    margin 0 auto
    text-align center
    height 35px
    line-height 35px
    font-weight bold
    font-size 14px
    color #fff
    background-color #ef2976
    &.full-cut
        background #fff100
        color #ef2976
    &.full-coupon
        background #cc2a1e

.insane
    width 100
    background-color #901b9b

.full-cut-section
    width 100%
    background-color #950c33

.full-coupon-section
    width 100%
    background-color #f0b247

.footer-shape-section
    margin-top -4px
