.flashsale-information-section-noborder
    border-bottom none

.flashsale-countdown
    display: inline-block
    float: left
    margin-left: 10*$px
    font-size: 16*$px
    em
        color: $color_blackred

.flashsale-submit
    float: right
    margin-right: 10*$px
    margin-top: 6*$px

.falsh-sale-tips
    .btn
        border-right: none;
        border-bottom: none;

    .icon-alarm:before,.icon-book:before
        margin-right: 5*$px
