/* @IMPORT BASE */

@import "./website";
@import "./goods-detail";
@import "./goods-comment";
@import "./goods-search";
@import "./member-login";           // 用户登录
@import "./member-index";           // 用户首页
@import "./member-profile";         // 用户信息首页
@import "./member-mobile";          // 用户-修改手机号
@import "./member-order";           // 用户-我的订单
@import "./coupon";                 // 用户-优惠券
@import "./member-order-detail";    // 订单详情
@import "./payment-complete";       // 支付完成
@import "./activity";               // 活动页面
@import "./activity-november";      // 11月活动页面
@import "./activity-november-4";    // 11月活动页面 活动4 返场活动
@import "./member-referral";        // 我的推荐
@import "./goods-flashsale";        // 秒杀
@import "./member-invite";          // 注册分享Î
@import "./point";          // 我的积分
@import "./presales";          // 预售
