.username-box {
    .name {
        color: $color_gold;
    }
}
.member-login-link {
    color: $color_gold;
}
.member-index-menu .item-title.label{
    width: 35%;
}
.order-menu-list
    i.icon
        font-size:20*$px
        color: $color_icon

.member-index-menu
    i.icon
        font-size: 20*$px
        color: $color_icon
