.profile-order-title,.profile-order-subtitle
    padding:10*$px 0

.profile-order-goods .form-box-bd
    margin:0;

.orderHanderButtons .btn.btn-primary
    margin-top:-1px;

.box-item.u-mb-10
    margin-bottom:10px;

.order-item-more-action.btn.btn-icon
    padding-right: 0
    margin-right: -10*$px

.orderHanderButtons .u-none
    display: none

.is-for-orderListAllHanderModal .btn
    padding: 1em 1em

.profile-order-status
    padding: 20*$px 0
    border-top: 1px dotted $color_gray_border
    .num
        text-align: center
        line-height: 32*$px
        span
            display: inline-block
            width: 26*$px
            height: 26*$px
            line-height: 26*$px
            text-align: center
            color: white
            background-color: #dcdcdc
            border-radius: 50%
        &.active span
            background-color: #56b36a

    p.active
        color: #56b36a

    .arrow
        text-align: center
        line-height: 32*$px
        color: $color_gray_label

    .btn
        background-color: white
        border-color: $color_blackred
        color: $color_blackred
