.member-mobile
    .member-mobile-code
        margin-top:30*$px;

.member-mobile-show
    .mobile
        padding-top: 3*$px
        color: $color_gray_label;
        margin-right:20*$px;
        display: inline-block;

    code
        color: $color_black_title;

    .verifyed
        color: $color_gray_label;
        display: inline-block;
        float:right;

        .icon
            font-size:18*$px;

.captchaCode
    padding: 5*$px 0
    width 100*$px
    border: 1px solid $color_gray_border


.grayBgBtn.btn[disabled],
.grayBgBtn.btn.disabled,
.grayBgBtn.btn.disabled.Tappable-active,
.grayBgBtn.btn.disabled:hover,
.grayBgBtn.btn.disabled:focus,
.grayBgBtn.btn.disabled:active {
    cursor: not-allowed;
    box-shadow: none;
    color: #fff;
    border:1px solid $color_gray_border;
    opacity: 0.7;
    background: $color_gray_border;
}
