.member-login,.is-for-member-login-modal .box {
    background: url('../images/bg-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

// LOGO
.member-login .logo,.is-for-member-login-modal .logo {
    text-align:center;
    padding:10*$px 0;
    margin-top:20*$px;
}

.login-account-error-info,.login-password-error-info {
    color:#ddd;
    margin-top: 5*$px;
}

.login-input {
    .form-control {
        color: #fff;
    }
}

.login-remember-box {
    color: #fff;
    .checkbox:hover {
        color: #fff;
    }
    .link a{
        color:#fff;
    }
}

.login-bottom-panel {
    margin-top:50*$px;
    width:100%;
}

.register-picture-code{
    position: relative;
    left:0;
    top:0;
    height:35*$px;
    .register-input {
        position: absolute;
        left:0;
        bottom:0;
        width:100%;
    }
    .register-picture-code-btn {
        position: absolute;
        bottom: 0;
        right:0;
        border-bottom:1px solid $color_gray_border;
        padding-bottom:5*$px;
    }
}


.login-back-btn {
    position: absolute;
    left:10*$px;
    top: 10*$px;
    .btn.btn-icon {
        color:#fff;
    }
}

.member-agreement-panel
    text-align left
    line-height 24*$px
    height 200*$px
    overflow: scroll
    h6
        font-size 14*$px
        margin-top 10*$px
        margin-bottom 10*$px
    p
        font-size 12*$px;

.forget-switch-type
    border-bottom 1px solid $color_gray_border
    padding-left 5*$px
    padding-bottom 10*$px

.region-box .forget-switch-type-icon
    bottom 15*$px

.is-for-member-login-modal .wrapper
    height: 100%
    padding: 0
    .box
        padding-top 50*$px
        overflow: hidden;
        height 100%
        background-color: transparent
