.referral-info
    margin-top 10*$px
    padding: 10*$px 20*$px
    line-height: 24*$px
    h4
        margin-bottom: 10
    p
        color: $color_gray_label

        span.blackred
            color: $color_blackred
    .tips
        margin-top: 10*$px
        color: $color_gold

.referral-hd
    background: #fff
    text-align: center
    line-height: 48 *$px
    .u-flex-item-1
        border-right: 1px solid $color_gray_border
        border-bottom: 1px solid $color_gray_border
    &,.active
        color: $color_gold
        border-bottom: none

.referral-item
    background: #fff
    margin-bottom: 10*$px
    padding: 20*$px
    &-label
        margin-top:5*$px
    label
        color: $color_gray_label
        margin-right:10*$px
    .points
        margin-top: 10*$px
        color: $color_green
        font-size: 16*$px

.referral-url-input
    border: 1px solid $color_gray_border
    padding: 8 *$px  8 *$px
    color: $color_gray_summary
    display: block
    width: 100%
    font-size: 12 *$px
    box-shadow: none
    -webkit-appearance: none
    outline: 0 none
    border-radius: 0

    &:focus
        border-color: $color_gold_hover

    &::-webkit-input-placeholder
        color: $color_gray_summary
