.a-act-red
    color: $color_red
.act-border-dashed
    border-bottom: 1px dashed $color_gray_border
.act-w150
    width: 150*$px
.member-invite-content
    padding 20*$px

    &-tips
        line-height 21*$px

.member-invite-act-title
    font-size 20*$px

.member-invite-box
    border-radius: 5*$px
    border: 1px solid $color_gray_border
    h6
        background: $color_gray_border
        text-align center
        height 35*$px
        line-height 35*$px
        font-size 14*$px
    &-inner
        padding: 10*$px
