/***
* payment-complete
* Author: Remiel.
***/
.payment-complete
    .toolbar
        border:0 none

.complete-panel
    .icon-select,
    .icon-error
        font-size: 90 *$px
        line-height: 70 *$px
        margin-bottom: 0
        color: $color_green
    .icon-error
        color: $color_blackred

    .btn
        width 130*$px
